@font-face {
    font-family: "Beyno";
    src: url(Font/BEYNO.otf) format('otf');
}
@font-face {
    font-family: 'WakandaForever';
    src: url(Font/WakandaForever-Regular.ttf) ;
}
@font-face {
    font-family: 'CantarellRegular';
    src: url(Font/Cantarell-Regular.ttf) ;
}
@font-face {
    font-family: 'Panthera';
    src: url(Font/PantheraRegular.ttf) ;
}
@media screen and (max-width: 1499px){
    body{
        width: 90%;
        font-size: 0.9em;
    }
}
header{
    margin-top: 30px;
    margin-left: 30px;
}
.logosayna{
    position: relative;
    left: 120px;
    top: 7px;
}
.iconX{
    position: relative;
    left: 125px;
}
.logomarvel{
    position: relative;
    left: 132px;
    top: 7px;
}
.accueil{
    font-family: 'Beyno', sans-serif;
    color:white;
    position : relative;
    left: 55%;
    font-size: 20px;
    text-decoration: none;
}
.wakanda{
    font-family: 'Beyno', sans-serif;
    color:white;
    position : relative;
    left: 60%;
    font-size: 20px;
    text-decoration: none;

}
.enigme{
    font-family: 'Beyno', sans-serif;
    color:white;
    position : relative;
    left: 65%;
    font-size: 20px;
    text-decoration: none;
}
body{
    background-image: url(IllustrationsLogo/All\ pages/arrière_plan.png);
}
.icon{
    margin-bottom: 25px;
}

/*.accueil:link{
    color:#9e91b7;
}*/
h1{
    font-family: 'Beyno', sans-serif;
    color: #9e91b7;
    font-size: 65px;
    position: absolute;
    left: 55%;
    top: 180px;
    width: 580px;
    text-align: justify;
}
h2{
    position: absolute;
    font-family: 'WakandaForever', sans-serif;
    color: #9e91b7;
    font-size: 43px;
    left: 220px;
    top: 1000px;
    width: 1000px;
    text-align: justify;
    letter-spacing: 10px;
}
.dora_milaje .texte_dora_milaje{
    color: white;
    font-family: 'CantarellRegular', sans-serif;
    left: 57%;
    top: 530px;
    position: absolute;
    text-align: justify;
    width: 25%;
}
.dora_milaje .ovale_dora_milaje{
    position: absolute;
    top: 370px;
    left: 51%;
}
.dora_milaje .trait_dora_milaje{
    position: absolute;
    top: 870px;
    left: 57%;
}
.dora_milaje .grande_image{
    position: absolute;
    
    left: 7%;
}
.texte_savais_tu{
    color: white;
    font-family: 'CantarellRegular', sans-serif;
    left: 57%;
    top: 1300px;
    position: absolute;
    text-align: center;
    width: 25%;
}
.ovale_savais_tu{
    position: absolute;
    top: 1140px;
    left: 51%;
}
.transcription {
    color:white;
    position: absolute;
    width: 535px;
    top: 1300px;
    left: 12%;
    line-height: 2;
}
.transcription .normal{
    font-family: 'CantarellRegular', sans-serif;
    font-size: 16px;
}
.transcription .transcription_lettre{
    font-family: 'WakandaForever', sans-serif;
    font-size: 16px;
}
.reponse{
    font-family: 'CantarellRegular', sans-serif;
    color: white;
    top: 1500px;
    left: 12%;
    position: absolute;

}
.reponse .input_reponse{
    font-size: 16px;
    margin-top: 10px;
    height: 45px;
    width: 500px;
    border-radius: 25px; 
    background-color: transparent; 
}
.reponse .input_reponse::placeholder{
    font-family: 'CantarellRegular', sans-serif;
    padding-left: 20px;
    color: white;
}
.reponse .btn{
    font-size: 16px;
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-radius: 25px; 
    background-color: white;
    margin-left: 180px;
}
footer .background_footer{
    position: absolute;
    top: 2000px;
}
footer .marvel_part{
    position: absolute;
    top: 2200px;
    left: 100px;
}
footer .marvel_part .marvel_part_image{
    position: absolute;  
    left: 300px;
} 
footer .logo_footer{
    position: absolute;
    top: 175px;
    left : 390px;
}
footer .pages{
    font-family: 'CantarellRegular', sans-serif;
    position: absolute;
    top: 2200px;
    left: 850px;
    color: white;
    text-decoration: none;
}
footer .pages p{
    
    font-size: 30px;
    margin-bottom: 10px;
}
footer .pages .propos{
    
    font-size: 15px;
    color:white;
    text-decoration: none;
    line-height: 2.5;
    
}
footer .pages .footer_wakanda{
    
    font-size: 15px;
    color:white;
    text-decoration: none;
}
footer .retrouvez_nous{
    position: absolute;
    font-family: 'CantarellRegular', sans-serif;
    top: 2200px;
    left: 1300px;
    color: white;
    text-decoration: none;
}
footer .retrouvez_nous p{
    font-family: 'CantarellRegular', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
footer .retrouvez_nous .icon_fb{
    position: absolute;
}
footer .retrouvez_nous .icon_ig{
    position: absolute;
    left: 70px;
}
footer .retrouvez_nous .icon_tw{
    position: absolute;
    left: 140px;
}
footer .retrouvez_nous .icon_tt{
    position: absolute;
    left: 210px;
}
footer .droit{
    font-family: 'CantarellRegular', sans-serif;
    color: white;
    top: 2400px;
    left: 850px;
    position: absolute;
}